@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-lexend: 'Lexend', serif;
}

@layer base {
    body {
        font-family: "Inclusive Sans", serif;
        background-color: #eeeeee;
        color: #1c4167;
    }
}